<% provide(:title, "About") %>
 <h1>About</h1>
  <p>
    The Relevant Reel is the brain-child of writer Erik Durate, a Chicago native passionate about film, metal, and all things horror.
    You can reach him here at #insert email here# or follow him on Twitter at #insert twitter here#.
  </p>
